* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  
    header{ 
        background-color: blue;
        overflow: hidden;
        width: 100%;
    }
    .titulo_header{
       
        color: white;
        font-family: Oswald;
        letter-spacing: 3px;
        
        
    }
    .texto_bgnaranja{
       
        color: rgb(110, 59, 1);
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 800;
        font-size: 1rem;
        
        
    }
    .book_image{
        
        height: 60vh;
        background-image: url(../assets/img/MOckup_1_libro.jpg);
        background-size: cover;
        background-position: center;
        overflow: hidden;
      
    }
    a{
        text-decoration: none;
    }

    .smallestfont{
        color: black;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       
        font-size: 10pt;

    }

    